.scene {
  position: absolute;
  inset: 0;
  overflow: hidden;

  &__bg {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &__vignette {
    position: absolute;
    inset: 0;
    background: radial-gradient(ellipse at 50% 50%, transparent 35%, rgba(0,0,0,0.75) 100%);
    pointer-events: none;
  }
}
