# Secretos
.env

# Backend Java
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
*.class
*.jar
*.war

# Frontend Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
